AUTH_SECRET=replace-with-a-long-random-string
AUTH_URL=https://beamng-manager.example.com
AUTH_GOOGLE_ID=replace-with-google-client-id
AUTH_GOOGLE_SECRET=replace-with-google-client-secret
ALLOWED_EMAILS=admin@example.com,ops@example.com

BEAMMP_MAP=/levels/DownhillDestruction/info.json
BEAMMP_SERVER_MODS_PATH=/beammp-mounted/server
BEAMMP_CLIENT_MODS_PATH=/beammp-mounted/client
BEAMMP_RUNTIME_ENV_FILE=/beammp-runtime.env
BEAMMP_DOCKER_COMPOSE_FILE=/beammp-compose/docker-compose.yaml
BEAMMP_DOCKER_SERVICE=beammp-server
